body {
    padding: 0;
    margin: 0;
}

a:link, a:visited, a:active {
    color: rgb(0, 2, 116);
}

a:hover {
    color: rgb(0, 2, 116);
    font-style: italic;
}

.content {
    margin: 40px;
}

.navbar {
    background-color: black;
    overflow: hidden;
}

.navbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    font-style: normal;
    background-color: #ddd;
    color: black;
}

.messages p {
    padding: .5rem;
    font-size: 1rem;
    border-radius: 1rem;
}

.messages .success {
    background-color: rgba(0, 255, 0, 0.1)
}

.messages .error {
    background-color: rgba(255, 0, 0, 0.1)
}


#post-details {
    background-color: rgba(204, 204, 204, 0.1);
    padding: .5rem;
    margin: .5rem;
    font-size: 1rem;
    border-radius: 1rem;
}

#post-content {
    padding: .5rem;
    margin: .5rem;    
}