{% extends 'base.html' %}
{% block title %}Update Post{% endblock %}
{% block content %}

    <h1>Update Post</h1>

    <h3>{{post.title}}</h3>

    <p>{{post.content}}</p>

    <form action="/updatepost/{{post.id}}" method="POST">
        <input type="text" name="title" placeholder="Title">
        <input type="text" name="content" placeholder="Content">
        <input type="text" name="creator_id" value={{post.creator_id}} style="display: none">
        <button>Update Post</button>
    </form>



{% endblock %}